$gray-color: #999999;
$light-gray-color: #e9ecefab;
$light-gray-color-2: #e9ecef;
$black-color: #3c4858;

$black: #000000;
$rgb-black: "0,0,0";
$white: #ffffff;
$rgb-white: "255,255,255";

$primary-color: #1e5281;