$margin-default: 15px;

body {
    color: $black;
}

h1, h2, h3 ,h4, h5, h6 {
    color: $primary-color;
}

.widget {
    height: 350px;
    box-shadow: $stable-shadow;
    border-radius: 6px;
    border: none;
    margin-bottom: $margin-default;
    .widget-body {
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.bar {
    background: $primary-color;
    height: 2px;
    margin-bottom: 20px;
    margin-top: 0px;
}