$margin-default: 15;

body {
    color: $black;
}

h1, h2, h3 ,h4, h5, h6 {
    color: $primary-color;
}

.widget {
    height: 300px;
    box-shadow: $stable-shadow;
    border-radius: 6px;
    border: none;
    margin-bottom: $margin-default px;
}