@include b("data-edit-mode") {
  @include e("alert") {
    height: 35px;
    margin: 5px;
    background: $light-gray-color;
    padding: 0 10px;
    line-height: 35px;
    border-radius: 0px;
  }

  &__alert:hover {
    background: $light-gray-color-2;
    cursor: pointer;
  }
  @include e("add") {
  }
}

@include b('todo-item') {
  @include m('done') {
    text-decoration: line-through solid rgb(68, 68, 68);
    font-style: italic;
    transition: all .2s;
  }
}

@include b("todo") {
  @include e('ipTodoItem') {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px $primary-color;
  }

  @include e('item-remove') {
    float: right;
    line-height: 30px;
    color: brown;
  }
  &__item-remove:hover {
    font-size: 20px;
    cursor: pointer;
  }
  @include e('ipSubmit') {
    background: white;
    padding: 3px;
    border: 1px solid $gray-color;
    border-radius: 3px;
    margin: 2px;
  }
  @include e("btn") {
    padding: 3px;
    border: 1px solid $gray-color;
    border-radius: 3px;
    margin: 2px;
  }

  @include e("form-add") {
    margin-bottom: 10px;
  }

  @include e("list") {
    margin-top: 7px;
  }

  &__btn:hover {
    cursor: pointer;
    background: $light-gray-color;
  }

  &__ipSubmit:hover {
    cursor: pointer;
    background: $light-gray-color;
  }

  @include e("item") {
    border-top: 1px $gray-color solid;
    padding-bottom: 0px;
  }

  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 20px; height: 20px;
    border: 3px solid $primary-color;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    content: '\2713\0020';
    position: absolute;
    top: 0px;
    left: 0.23em;
    font-size: 19px;
    line-height: 0.8;
    color: #1e5281;
    transition: all .2s;
    font-weight: 900;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  /* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 3px solid $primary-color;
}

/* hover style just for information */
label:hover:before {
  border: 3px solid $primary-color !important;
  border-radius: 10px;
}
}
